# Copyright (c) 2021 Nick Winans
# SPDX-License-Identifier: MIT

if BOARD_X40

config ZMK_KEYBOARD_NAME
    default "Xin"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

endif # BOARD_NICE60
