config BOARD_KEYBOARD40
    bool "keyboard40"
    depends on SOC_NRF52840_QIAA
    select SOC_NRF52840_QIAA
    select CPU_CORTEX_M4
    select CPU_HAS_ARM_MPU
    select CPU_HAS_FPU
    select FLASH
    select FLASH_HAS_DRIVER_ENABLED
    select FLASH_HAS_PAGE_LAYOUT
    select SETTINGS
    select SETTINGS_NVS